.AlertDialogOverlay {
    position: fixed;
    inset: 0;
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.AlertDialogContent {
    background-color: white;
    border-radius: 6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 500px;
    max-height: 85vh;
    padding: 25px;
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.AlertDialogContent:focus {
    outline: none;
}


.AlertDialogTitle {
    margin: 0 0 5px 0;
    color: var(--mauve-12);
    font-size: 17px;
    font-weight: 500;
}

.AlertDialogDescription {
    margin-bottom: 20px;
    color: var(--mauve-11);
    font-size: 15px;
    line-height: 1.4;
}



@media (min-width: 600px) {
    .Button {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            padding: 0 5px;
            line-height: 1;
            font-size: clamp(6px, calc(10px + (40 - 20) * ((100vw - 300px) / (2100 - 100))), 17px);
            font-weight: 500;
            height: 30px;
        }
}

@media (max-width: 600px) {
    .Button {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            padding: 0 5px;
            line-height: 1;
            font-size: clamp(6px, calc(10px + (40 - 20) * ((100vw - 300px) / (2100 - 100))), 17px);
            font-weight: 500;
            height: 20px;
        }
}

.Button.violet {
    background-color: rgb(255, 255, 255);
    color: var(--violet-11);
    transition: background-color 0.2s ease-in-out;
}

.Button.violet:hover {
    background-color: #ede8ee;
    color: rgb(46, 46, 46);
}

.Button.violet:focus {
    box-shadow: var(--mauve-3);
}

.Button.red {
    background-color: var(--red-4);
    color: var(--red-11);
}

.Button.red:hover {
    background-color: var(--red-5);
}

.Button.red:focus {
    box-shadow: 0 0 0 2px var(--red-7);
}

.Button.mauve {
    background-color: var(--mauve-4);
    color: var(--mauve-11);
}

.Button.mauve:hover {
    background-color: var(--mauve-5);
}

.Button.mauve:focus {
    box-shadow: 0 0 0 2px var(--mauve-7);
}

.Button.reschedule {
    background-color: var(--violet-4);
}

.Button.reschedule.violet:hover {
    background-color: var(--violet-6);
    color: var(--violet-11);
}

.Button.reschedule:focus {
    box-shadow: 0 0 0 2px var(--black-11);
}

@keyframes overlayShow {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes contentShow {
    from {
        opacity: 0;
        transform: translate(-50%, -48%) scale(0.96);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}
