.react-chatbot-kit-user-avatar-icon {
    color: red;
    width: 20px;
    height: 20px;
}

.chatBoxDiv {
    height: 100%;
}

.react-chatbot-kit-chat-input-container {
    position: absolute;
    width: 100%;
    height: fit-content;
    bottom: 0;
}

.react-chatbot-kit-chat-message-container {
    background-color: var(--background-darkmode);
}
.react-chatbot-kit-chat-input {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid #78457f;
    border-radius: 10px;
}

.react-chatbot-kit-chat-input-form {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    height: 100%;
}

.react-chatbot-kit-chat-btn-send {
    width: 20%;
    height: 34px;
    border: 1px solid #78457f;
    border-radius: 10px;
    background-color: #eeeeee;
}

.react-chatbot-kit-chat-btn-send:hover {
    background-color: #78457f;
    color: white;
}
.react-chatbot-kit-chat-btn-send-icon {
    width: 18px;
    height: 28px;
    cursor: pointer;
}

.react-chatbot-kit-user-avatar-icon {
    display: none;
}

.react-chatbot-kit-user-chat-message-container {
    max-width: 298px;
}

.react-chatbot-kit-user-chat-message {
    white-space: normal;
    word-break: break-word;
}
