@keyframes ldio-acpkmkk0guo {
    0% {
        opacity: 1;
        backface-visibility: hidden;
        transform: translateZ(0) scale(1, 0.91);
    }

    100% {
        opacity: 0;
        backface-visibility: hidden;
        transform: translateZ(0) scale(1, 1);
    }
}

.ldio-acpkmkk0guo div>div {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ffa9ef;
    animation: ldio-acpkmkk0guo 0.9615384615384615s linear infinite;
}

.ldio-acpkmkk0guo div:nth-child(1)>div {
    left: 64px;
    top: 44px;
    animation-delay: -0.8413461538461539s;
}

.ldio-acpkmkk0guo>div:nth-child(1) {
    transform: rotate(0deg);
    transform-origin: 70px 50px;
}

.ldio-acpkmkk0guo div:nth-child(2)>div {
    left: 58px;
    top: 58px;
    animation-delay: -0.7211538461538461s;
}

.ldio-acpkmkk0guo>div:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 64px 64px;
}

.ldio-acpkmkk0guo div:nth-child(3)>div {
    left: 44px;
    top: 64px;
    animation-delay: -0.6009615384615384s;
}

.ldio-acpkmkk0guo>div:nth-child(3) {
    transform: rotate(90deg);
    transform-origin: 50px 70px;
}

.ldio-acpkmkk0guo div:nth-child(4)>div {
    left: 30px;
    top: 58px;
    animation-delay: -0.4807692307692307s;
}

.ldio-acpkmkk0guo>div:nth-child(4) {
    transform: rotate(135deg);
    transform-origin: 36px 64px;
}

.ldio-acpkmkk0guo div:nth-child(5)>div {
    left: 24px;
    top: 44px;
    animation-delay: -0.3605769230769231s;
}

.ldio-acpkmkk0guo>div:nth-child(5) {
    transform: rotate(180deg);
    transform-origin: 30px 50px;
}

.ldio-acpkmkk0guo div:nth-child(6)>div {
    left: 30px;
    top: 30px;
    animation-delay: -0.24038461538461536s;
}

.ldio-acpkmkk0guo>div:nth-child(6) {
    transform: rotate(225deg);
    transform-origin: 36px 36px;
}

.ldio-acpkmkk0guo div:nth-child(7)>div {
    left: 44px;
    top: 24px;
    animation-delay: -0.12019230769230768s;
}

.ldio-acpkmkk0guo>div:nth-child(7) {
    transform: rotate(270deg);
    transform-origin: 50px 30px;
}

.ldio-acpkmkk0guo div:nth-child(8)>div {
    left: 58px;
    top: 30px;
    animation-delay: 0s;
}

.ldio-acpkmkk0guo>div:nth-child(8) {
    transform: rotate(315deg);
    transform-origin: 64px 36px;
}

.loadingio-spinner-spin-jowxixoccyp {
    width: 84px;
    height: 84px;
    display: inline-block;
    overflow: hidden;
    background: none;
    position: fixed;
    z-index: 100;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ldio-acpkmkk0guo {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.84);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-acpkmkk0guo div {
    box-sizing: content-box;
}
