@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import '@radix-ui/colors/violet.css';
@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/red.css';

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --bar-width: 60px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --foreground: #333;
  font-family: 'Nunito', sans-serif;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: auto;
  background-color: var(--background-darkmode);
}

.hidden-label {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@media (prefers-color-scheme: light) {
  :root {

  }
}

span {
  color: var(--text-color-darkmode);
}
button {
  all: unset;
  text-align: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


button {
  font-family: 'Nunito', sans-serif;
}

html,
body {
  color: rgb(var(--foreground-rgb));
  min-height: 100vh;
  width: 100%;
  font-family: 'Nunito', sans-serif;
  position: relative;
  overflow-x: hidden;
}

body {
    padding: 40px 0 0 0;

}


html {
  margin: 0;
  padding: 40px 2vw 0 2vw;
}

html::before,
html::after {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  width: 2vw;
  background-image: url("/flowers3.jpeg");
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  z-index: 2;
}

html::before {
  left: 0;
}

html::after {
  right: 0;
}


body::before,
body::after {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  width: 2vw;
  background-color: rgba(0, 0, 0, 0.454);
  z-index: 3;
}


body::before {
  left: 0;
}

body::after {
  right: 0;
}



html {
  position: relative;

  font-family: 'Nunito', sans-serif;


}

a {
  color: inherit;
  text-decoration: none;
}

:root::-webkit-scrollbar {
  width: 12px;
}
:root::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: var(--background-darkmode);
  border: 1px solid rgb(231, 231, 231);
}

:root::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 1px solid rgb(189, 189, 189);
  background-color: #bc9bc0;
}

:root::-webkit-scrollbar-thumb:hover {
  border-radius: 8px;
  border: 1px solid rgb(189, 189, 189);
  background-color: #a786aa;
}
