.react-chatbot-kit-user-chat-message-container {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

/* Target the message */
.react-chatbot-kit-user-chat-message {
    order: 2;
    background-color: rgba(173, 216, 230, 0.485);
    /* This will make the message appear second */
}

/* Target the user's name */
.react-chatbot-kit-user-message-name {
    order: 1;
    background-color: rgba(126, 179, 197, 0.523);
}

.react-chatbot-kit-chat-message-container {
    box-sizing: border-box;
    padding-bottom: 40px;
}
