@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import '@radix-ui/colors/violet.css';
@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/red.css';

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --bar-width: 60px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --foreground: #333;
  font-family: 'Nunito', sans-serif;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  background-color: var(--background-darkmode);
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: auto;
}

.hidden-label {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@media (prefers-color-scheme: light) {
  :root {

  }
}

button {
  all: unset;
  text-align: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


button {
  font-family: 'Nunito', sans-serif;
}

html,
body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-darkmode-purple);
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

html {
  position: relative;
  background-color: var(--background-darkmode);
  font-family: 'Nunito', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

:root::-webkit-scrollbar {
  width: 12px;
}
:root::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: var(--background-darkmode);
  border: 1px solid rgb(231, 231, 231);
}

:root::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 1px solid rgb(189, 189, 189);
  background-color: #eccff0;
}
